<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PuttyLocation" value="C:\\Users\\pklingman\\Desktop\\putty.exe" />
    <add key="BackupEmpyrionScript" value="BackupEmpyrion.bat"/>
    <add key="BackupDestination" value="C:\\steamcmd\\empBackup\\"/>
    <add key="DedicatedServerDirectory" value="C:\\steamcmd\\empyriondedicatedserver\\"/>
    <add key="SavesDirectory" value="C:\\steamcmd\\empyriondedicatedserver\\EMPSaves\\"/>
    <add key="MinimumBackupSize" value="5000"/>
    <add key="EmergSourceDirectory" value="C:\steamcmd\empyriondedicatedserver\EMPSaves\"/>
    <add key="EmergSavesDirectory" value="C:\Users\pklingman\Desktop\EmergBackup\"/>
  </appSettings>      
</configuration>